<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,  
                   initial-scale=1.0">
  <title>GeeksForGeeks</title>

  <link rel="stylesheet" href="/dashboard.css">
  {{!-- pagination --}}

  <style>
    html {
      height: 200vh;
    }

    body {
      margin: 0px;
      font-family: 'Roboto', sans-serif;
    }

    /*SIDEBAR SECTION */

    #s1 {

      left: 0;
      top: 0;
      height: 100%;
      width: 200px;
      background: rgb(119, 158, 215);


    }

    #s1 ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 12px;
    }

    #s1 li {
      padding: 5px;
      font-weight: 300;
      font-size: 16px;
    }

    .home {
      background: rgb(26, 27, 29);
    }

    #s1 li:hover {
      background: #333232;
      padding: 5px;
    }

    #s1 a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    /*RIGHT SECTION */

    #s2 {
      height: 100vh;




    }

    /* RESPONSIVE WINDOW */
    @media screen and (max-width:700px) {
      #s1 {
        width: 100px;
        height: inherit;
      }

      #s1 li {
        width: 80px;
        float: left;


      }

      #s1 a {
        color: white;
        text-decoration: none;
        font-size: 14px;
      }

      #s1 li {
        padding: 5px;
        font-weight: 300;
        font-size: 12px;
      }

      #s2 {


        width: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      #s1 {
        position: relative;
      }

      #s1 li {
        text-align: center;
        float: none;
        width: auto;
        padding: 5;

      }
    }


    @media only screen and (min-width: 768px) {
      .global-container {
        max-width: 1000px;
        padding: 0 25px;
      }

      .cart-preview {
        float: right;
        margin-left: 90px;
      }
    }

    @media only screen and (min-width: 900px) {
      :root {
        --text-xs: 12px;
        --text-s: 16px;
        --text-m: 18px;
        --text-l: 36px;
        --one-em: 22px;
      }
    }

    .container {
      margin-left: 200px;
    }

    button {
      background-color: rgb(26, 142, 245);
    }

    .div-button {
      background-color: white;
      color: #4aa6f2;
      border-style: solid;
      border-width: 1px;
      border-color: #282929;
      padding: 10px;
      border-radius: 10px;
      width: 200px;
    }

    .container {
      margin-left: 200px;
    }

    @media (min-width: 1025px) {
      .h-custom {
        height: 100vh !important;
      }
    }

    .card-body {
      display: flex;
      justify-content: space-between;
    }

    /* Style for the product information in the cart */
    .product-info {
      display: flex;
      align-items: center;
    }

    .product-info img {
      width: 65px;
      height: 65px;
      margin-right: 10px;
    }

    .product-details {
      flex: 1;
    }

    .product-details h5 {
      margin: 0;
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .product-details p {
      margin: 0;
      font-size: 14px;
    }

    /* Style for the quantity input and buttons */
    .quantity-controls {
      display: flex;
      align-items: center;
    }

    .quantity-controls button {
      width: 30px;
      height: 30px;
    }

    /* Style for the delete button */
    .delete-button {
      color: #cecece;
      cursor: pointer;
    }

    /* Style for the card details */
    .card-details {
      color: white;
    }

    .card-details h5 {
      margin-bottom: 0;
    }

    .total-amount {
      font-weight: bold;
    }

    /* Responsive styles for smaller screens */
    @media (max-width: 768px) {
      .card-body {
        flex-direction: column;
      }
    }

    h5 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .card {
      box-shadow: 0 20px 27px 0 rgba(227, 226, 226, 0.9);

    }

  a{
    text-decoration: none;
  }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="main-container">

    <div class="navcontainer">
      <nav style="background-color: #f5f5f5;" class="nav">

        <div>


          <div class="option2 nav-option">

            <i class="fa fa-user"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/user-profile">
              <h5>Profile</h5>
            </a>
          </div>

          <div class="option2 nav-option">

            <i class="fa fa-address-book"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/user-profile/address-mgt">
              <h5>Address</h5>
            </a>
          </div>







          <div class="nav-option logout">

            <i class="fa fa-tag"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/user-profile/offer">
              <h5>Offer</h5>
            </a>
          </div>
          <div class="nav-option logout">

            <i class="fa fa-heart"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/wishlist">
              <h5>Wishlist</h5>
            </a>
          </div>
          <div class="nav-option logout">

            <i class="fa fa-clipboard"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/user-profile/order">
              <h5>Order</h5>
            </a>
          </div>
          <div class="nav-option option5">

            <i class="fa fa-credit-card"></i>
            <a style="text-decoration: none;color: rgb(36, 32, 32);" href="/user-profile/wallet">
              <h5>Wallet</h5>
            </a>
          </div>

        </div>
      </nav>
    </div>
    <div class="main">

      <div class="searchbar2">
        <input type="text" name="" id="" placeholder="Search">
        <div class="searchbtn">
          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
            class="icn srchicn" alt="search-button">
        </div>
      </div>

      {{!-- <div class="box-container">

        <div class="box box1">
          <div class="text">
            <h2 class="topic-heading">60.5k</h2>
            <h2 class="topic">Article Views</h2>
          </div>

          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png"
            alt="Views">
        </div>

        <div class="box box2">
          <div class="text">
            <h2 class="topic-heading">150</h2>
            <h2 class="topic">Likes</h2>
          </div>

          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185030/14.png" alt="likes">
        </div>

        <div class="box box3">
          <div class="text">
            <h2 class="topic-heading">320</h2>
            <h2 class="topic">Comments</h2>
          </div>

          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(32).png"
            alt="comments">
        </div>

        <div class="box box4">
          <div class="text">
            <h2 class="topic-heading">70</h2>
            <h2 class="topic">Published</h2>
          </div>

          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185029/13.png" alt="published">
        </div>
      </div> --}}

      <div class="report-container">
        <div class="report-header">
          <h5 class="recent-Articles">My OrderdList</h5>
        </div>
        <section style="padding-top: 50px; height: auto;" id="s2">

          {{#each data}}

          <a style="text-decoration: none; color: #333232;" href="/user-profile/order-detail/{{this._id}}">
            <div style="padding: 20px;" class="card mb-3 ">
              <div style="display: flex;justify-content: space-evenly;">
                <p class="text-success">Status:{{this.status}}</p>
           
                <p>Date:{{this.orderedAt}}</p>
                <p style="color: red;">Total Amount:{{this.totalPrice}}</p>
              </div>
              
              {{#each this.products}}
              <div class="card-body">

                <div class="product-info">
                  <div>
                    {{#if this.product.image}}
                    <img src="/images/{{this.product.image}}" class="img-fluid rounded-3" alt="Shopping item"
                      style="width: 65px;">
                    {{else}}
                    <img src="/images/{{this.product.productImage1}}" class="img-fluid rounded-3" alt="Shopping item"
                      style="width: 65px;">
                    {{/if}}
                  </div>
                  <div class="product-details ms-3">
                    <h5>{{this.product.product}}</h5>
                    <p class="small mb-0">256GB, Navy Blue</p>
                  </div>
                </div>
                <div class="quantity-controls">
                  <div style="width: 80px; margin-left: 30px;">
                    <p class="mb-0">Price:{{this.subtotal}}</p>
                  </div>





                </div>

                {{/each}}

              </div>
            </div>
          </a>

          {{/each}}

        </section>

      </div>
      <br>
      <div class="pagination">
        <button class="button-79"
          style="width: auto;color: rgb(26, 25, 25);margin-left: 50%;background-color: rgb(240, 240, 240);"
          id="prev">&laquo; Prev</button>

        <button class="button-79" style="width: auto;color: rgb(27, 27, 27);margin-left: 5px;background-color: #e7e6e6;"
          id="next">Next &raquo;</button>
      </div>
    </div>

  </div>

  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const productCards = document.querySelectorAll('.card');
      const prevButton = document.getElementById('prev');
      const nextButton = document.getElementById('next');

      let currentPage = 1;
      const productsPerPage = 9;

      function showPage(page) {
        const startIndex = (page - 1) * productsPerPage;
        const endIndex = startIndex + productsPerPage;

        productCards.forEach((card, index) => {
          if (index >= startIndex && index < endIndex) {
            card.style.display = 'block';
          } else {
            card.style.display = 'none';
          }
        });
      }

      function updatePaginationButtons() {
        prevButton.disabled = currentPage === 1;
        nextButton.disabled = currentPage === Math.ceil(productCards.length / productsPerPage);
      }

      function goToPrevPage() {
        if (currentPage > 1) {
          currentPage--;
          showPage(currentPage);
          updatePaginationButtons();
        }
      }

      function goToNextPage() {
        if (currentPage < Math.ceil(productCards.length / productsPerPage)) {
          currentPage++;
          showPage(currentPage);
          updatePaginationButtons();
        }
      }

      prevButton.addEventListener('click', goToPrevPage);
      nextButton.addEventListener('click', goToNextPage);

      // Initially show the first page
      showPage(currentPage);
      updatePaginationButtons();
    });
  </script>

</body>

</html>